.main {
  text-align: center;
}
.signintxt {
  color: #1bbc9b;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}
.email {
  color: white;
  text-shadow: 2px 2px 2px #1bbc9b;
}
.password {
  color: white;
  text-shadow: 2px 2px 2px #1bbc9b;
}
.inpBox {
  border: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 16px 0 16px 0;
  transition: 0.3s;
}
.inpBox:hover {
  background: #1bbc9b;
  border-radius: 0 16px 0 16px;
  border-color: #1bbc9b;
}
.inpBox:focus {
  outline: none;
}
.signinBttn {
  background: transparent;
  color: white;
  border-color: white;
  border-radius: 300px;
}
.signinBttn:hover {
  background: #1bbc9b;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
  border-color: #1bbc9b;
}
.signinBttn:focus {
  outline: none;
}
.signinBttn:active {
  background: #1bbc9b;
  border-color: #1bbc9b;
  box-shadow: none;
}
