.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#signout {
  transition: 0.3s;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  cursor: pointer;
}
.Particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
